:root {
	--clr-neutral-100: hsl(0 0% 100%);
	--clr-primary-200: hsl(225, 100% 94%);


	--fs-medium: 1.75rem;
	--fs-large: 2rem

	--fw-500: 500;
	--fw-700: 700;
	--fw-900: 900;

	--space-1: 1rem;
	--space-2: 1.5rem;
	--space-3: 2rem;
}

/* reset goes here  */

/* global styles - set the stage to build off */

body {
	font-size: var(--fs-400);
	display: grid;
	min-height: 100vh;
	place-items: center;
	line-height: 1.66;

	/* color, font-weight, background, line-height etc */
}

h2 {
	font-size: var(--fs-700);
	/* color etc */
}

/* composition - high level flexible layout */
.flow > * + * {
	margin-top: 1em;
	border: 1px solid;
}

.grid-flow {
	display: grid;
	gap: 1em;
}

.flex-row {
	display: flex;
}

/* utility styling classes */
.padding-48 {
	padding: 3rem;
}

.text-neutral-100 {
	color: var(--clr-neutral-100);
}

.bg-white {
	color: white;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

/* block */
 h2 {
	padding: 0 1rem;
}
.card {
	max-width: 450px;
}


