/* global variables */
:root {
	--dark-magenta: hsl(300, 43%, 22%);
	--mid-magenta: hsl(301, 10%, 53%);
	--soft-pink: hsl(333, 75%, 70%);
	--pale-magenta: hsl(300, 29%, 98%);
	--white: hsla(0, 0%, 100%, 1);

	--fs-sm: 0.81rem;
	--fs-md: 1.75rem;
	--fs-lg: 2rem;
	--fs-xl: 3rem;

	--fw-400: 400;
	--fw-500: 500;
	--fw-700: 700;
	--fw-900: 900;

	--space-1: 1rem;
	--space-2: 1.5rem;
	--space-3: 1.75rem;
	--space-4: 2rem;
	--space-5: 2.2rem;
}

/* reset styles */ /* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* visually hidden */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* global styles  */
body {
	font-family: "League Spartan", sans-serif;
	color: var(--dark-magenta);
	background: url(./images/bg-pattern-top-mobile.svg) no-repeat left top,
		url(./images/bg-pattern-bottom-mobile.svg) no-repeat right bottom;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--fs-400);
	font-weight: var(--fw-500);
	padding: var(--space-2);
	text-align: center;
	color: var(--dark-magenta);
}

/* composition - high level flexible layout */
.flow > * + * {
	margin-top: 1.5em;
}

/* utility styling classes */
.text-align-left {
	text-align: left;
}

.fs-sm {
	font-size: var(--fs-sm);
}

/* block */
header h2 {
	padding: var(--space-1) var(--space-4);
	margin-top: var(--space-4);
	font-size: var(--fs-lg);
}

header p {
	color: var(--mid-magenta);
}

.rating {
	padding: 0.5rem;
	background-color: var(--pale-magenta);
	border-radius: 0.5rem;
}
.stars img {
	display: inline;
}

p.rating {
	font-weight: var(--fw-700);
}

.card {
	margin-bottom: var(--space-1);
	padding: var(--space-4);
	color: var(--pale-magenta);
	background-color: var(--dark-magenta);
	font-size: var(--fs-sm);
	border-radius: 0.5rem;
	max-height: 14.625rem;
}

.card-header {
	display: flex;
	align-items: center;
	gap: var(--space-1);
	font-weight: var(--fw-700);
}

.card-header .avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.card-header span {
	display: block;
	color: var(--soft-pink);
	font-weight: var(--fw-400);
	line-height: 0.5;
}
footer.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* desktop styles */
@media only screen and (min-width: 1030px) {
	body {
		background: url(./images/bg-pattern-top-desktop.svg) no-repeat left top,
			url(./images/bg-pattern-bottom-desktop.svg) no-repeat right bottom;
	}
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"header ratings"
			"reviews reviews";
		gap: 4rem;
		max-width: 1110px;
		max-height: 575px;
	}
	header {
		grid-area: header;
		text-align: left;
		padding-right: 4rem;
	}

	header h2 {
		padding: 0;
		font-size: var(--fs-xl);
	}

	.ratings {
		grid-area: ratings;
		margin-top: 3rem;
	}

	.rating {
		width: 85%;
	}
	.rating2 {
		margin: 1rem auto;
	}
	.rating3 {
		margin-left: auto;
	}
	.rating p {
		display: inline;
		margin-left: var(--space-3);
	}
	.review-cards {
		grid-area: reviews;
		display: flex;
		justify-content: space-between;
		margin-top: 0;
	}

	.card {
		max-width: 21.875rem;
		height: 90%;
	}

	.card:not(:last-child) {
		margin-right: var(--space-2);
	}

	.card2 {
		margin-block: auto;
	}

	.card3 {
		margin-top: var(--space-2);
	}
}
