/* global variables */
:root {
	--dark-magenta: hsl(300, 43%, 22%);
	--mid-magenta: hsl(301, 10%, 53%);
	--soft-pink: hsl(333, 75%, 70%);
	--pale-magenta: hsl(300, 29%, 97%);
	--white: hsla(0, 0%, 100%, 1);

	--fs-sm: 0.81rem;
	--fs-md: 1.75rem;
	--fs-lg: 2rem;
	--fs-xl: 3rem;

	--fw-400: 400;
	--fw-500: 500;
	--fw-700: 700;
	--fw-900: 900;

	--space-1: 1rem;
	--space-2: 1.5rem;
	--space-3: 1.75rem;
	--space-4: 2rem;
}

/* reset styles */ /* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
main {
	min-height: 100vh;
	font-size: var(--fs-400);
	line-height: 1.6;
	font-weight: var(--fw-500);
	padding: var(--space-2);
	text-align: center;
	color: var(--dark-magenta);
}

h1,
h2,
h3 {
	line-height: 1;
}

h2 {
	font-size: var(--fs-lg);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* visually hidden */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* global styles  */
body {
	font-family: "League Spartan", sans-serif;
	color: var(--dark-magenta);
	background: url(./images/bg-pattern-top-mobile.svg) no-repeat,
		url(./images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
	display: flex;
	justify-content: center;
	place-items: center;
}

/* composition - high level flexible layout */
.flow > * + * {
	margin-top: 1.5em;
}

.flex-flow-column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.flex-flow-row {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

/* utility styling classes */
.padding-48 {
	padding: 3rem;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.fs-sm {
	font-size: var(--fs-sm);
}

/* block */
header h2 {
	padding: var(--space-1) var(--space-4);
	margin-top: var(--space-4);
	font-size: var(--fs-lg);
}

header p {
	color: var(--mid-magenta);
}

.rating {
	padding: 0.5rem;
	background-color: var(--pale-magenta);
	border-radius: 0.5rem;
}
.stars img {
	display: inline;
}

p.rating {
	font-weight: var(--fw-700);
}

.card {
	margin-bottom: var(--space-1);
	padding: var(--space-4);
	color: var(--pale-magenta);
	background-color: var(--dark-magenta);
	font-size: var(--fs-sm);
	border-radius: 0.5rem;
	max-height: 14.625rem;
}

.card-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: var(--fw-700);
}

.card-header .avatar {
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.card-header span {
	display: block;
	color: var(--soft-pink);
	font-weight: var(--fw-400);
	line-height: 0.5;
}
footer.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* desktop styles */
@media only screen and (min-width: 1030px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"header ratings"
			"reviews reviews";
		gap: 4rem;
		max-width: 1110px;
		max-height: 575px;
		border: 1px solid black;
		padding: 8rem 6rem;
	}
	header {
		grid-area: header;
		text-align: left;
		padding-right: 2.1rem;
	}

	header h2 {
		padding: 0;
		font-size: var(--fs-xl);
	}

	.ratings {
		grid-area: ratings;
		margin-top: 3rem;
	}

	.rating {
		width: 85%;
	}
	.rating2 {
		margin: 1em auto;
	}
	.rating3 {
		margin-left: auto;
	}
	.rating p {
		display: inline;
		margin-left: var(--space-3);
	}
	.review-cards {
		grid-area: reviews;
		display: flex;
		margin-top: 0;
	}

	.card:not(:last-child) {
		margin-right: 1.875rem;
	}

	.card2 {
		margin-top: 0.75rem;
	}

	.card3 {
		margin-top: 1.5rem;
	}

	.card {
		height: 90%;
	}
}
/* TODO: desktop background images! */
